<div class="container">
  <h1>my preferences</h1>
  <%= simple_form_for(@profile, url: :profile) do |f| %>
      <div id="locations">
        <h3>give us an address</h3>
        <%= f.simple_fields_for :locations do |location| %>
          <%= render 'location_fields', f: location %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add location', f, :locations %>
        </div>
      </div>
      <div id="interests">
        <h3>tell us what you care about the most</h3>
        <%= f.simple_fields_for :interests do |interest| %>
          <%= render 'interest_fields', f: interest %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add category', f, :interests %>
        </div>
      </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
