<div class="container">
  <h1 class="header-quiz pb-3">My Preferences</h1>
  <%= simple_form_for(@profile, url: :profile) do |f| %>
    <div id="locations" class="pb-3">
      <h4 class="subheader-quiz pb-2">Tell us more about places you go to in a week:</h4>
      <%= f.simple_fields_for :locations do |location| %>
        <%= render 'location_fields', f: location %>
      <% end %>
      <div class="links">
        <%= link_to_add_association f, :locations, class: 'd-block form-add-btn' do %>
          <%= icon("fas", "plus-circle") %>
          Add another place
        <% end %>
      </div>
    </div>
    <div id="interests" class="pb-3">
      <h4 class="subheader-quiz pb-2">Tell us what you care about the most:</h4>
      <%= f.simple_fields_for :interests do |interest| %>
        <%= render 'interest_fields', f: interest %>
      <% end %>
      <div class="links">
        <%= link_to_add_association f, :interests, class: 'd-block form-add-btn' do %>
          <%= icon("fas", "plus-circle") %>
          Add interest
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-11">
        <%= f.submit 'Submit', class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
</div>
