<div class="container">
  <h1 class="header-quiz">my preferences</h1>
  <%= simple_form_for(@profile, url: :profile) do |f| %>
      <div id="locations">
        <%= f.simple_fields_for :locations do |location| %>
          <%= render 'location_fields', f: location %>
        <% end %>
        <div class="row">
          <div class="links col-11">
            <%= link_to_add_association ' Add another place', f, :locations, class: 'fas fa-plus-circle form-add-btn' %>
          </div>
        </div>
      </div>
      <div id="interests">
        <%= f.simple_fields_for :interests do |interest| %>
          <%= render 'interest_fields', f: interest %>
        <% end %>
        <div class="links">
          <%= link_to_add_association '', f, :interests, class: 'fas fa-plus-circle' %>
        </div>
      </div>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
