<div class='nested-fields'>
<<<<<<< HEAD
    <%= f.input :name %>
    <%= f.input :address %>
    <%= link_to_remove_association '', f, class: 'fas fa-minus-circle' %>
=======
    <%= f.input :name, placeholder: 'home, work, cottage, etc.' %>
    <%= f.input :address, placeholder: '550 René-Levesque boulevard' %>
    <%= link_to_remove_association "remove location", f %>
>>>>>>> master
</div>
