<div class="curated-card p-3">
  <%= image_tag(co.organization.photo_url)%>
  <div class="curated-card-infos">
    <p>
      <%= co.organization.name %><br>
      <%= co.organization.address %><br>
      <%= co.humanize_distance %><br>
      Matched Profile Category: "<%= co.organization.category.name %>"<br>
      <%= link_to "View Details", organization_path(co.organization)%>
    </p>
  </div>
</div>
