<div class="curated-card-container">
  <div class="curated-card">
    <div class="curated-card-top-section">
      <%= image_tag(co.organization.photo_url) %>
      <div class="curated-card-info-headers">
        <h3 class="curated-card-title"><%=co.organization.name %></h3>
        <h4 class="curated-card-match text-dark">#<%= co.organization.category.name %></h4>
      </div>
    </div>
    <hr class="curated-card-info-divider">
    <div class="curated-card-info-details">
      <div class="curated-card-distance-section">
        <i class="fas fa-location-arrow"></i>
        <p class="curated-card-distance"><%=co.humanize_distance%></p>
      </div>
      <p class="curated-card-address"><%= co.organization.address %></p>
      <div class="text-right">
        <%= link_to "View Details", organization_path(co.organization) %>
      </div>
    </div>
  </div>
</div>
