<div class="my-organization-card-container">
  <div class="my-organization-card">
    <div class="my-organization-card-top-section">
      <%= image_tag(mo.photo_url) %>
      <div class="my-organization-card-info-headers">
        <h3 class="my-organization-card-title"><%= mo.name %></h3>
        <h4 class="my-organization-match text-dark">#<%= mo.category.name %></h4>
      </div>
    </div>
    <hr class="my-organization-card-info-divider">
    <div>
      <p><%= mo.address %></p>
    </div>
    <div class="my-organization-card-bottom-section">
      <%= link_to(new_organization_journal_entry_path(mo)) do %>
        <span style="font-size: 2em; color: Tomato;">
          <i class="fas fa-edit"></i>
        </span>
      <% end %>
      <%= link_to "View Journal Entries", organization_journal_entries_path(mo) %>
    </div>
  </div>
</div>
