<div class="my-organization-card-container">
  <div class=my-organization-card>
    <div class="my-organization-card-top-section">
      <%= image_tag(mo.photo_url) %>
        <p><%= mo.name %></p>
    </div>
      <p><%= mo.address %></p>
      <p><%= mo.phone %></p>
      <p><%= mo.email %></p>
      <p><%= link_to "View Journal Entries", organization_journal_entries_path(mo) %></p>

      <%=  link_to(new_organization_journal_entry_path(mo)) do %>
        <p><i class="fas fa-edit"></i></p>
      <% end %>
  </div>
</div>
