<div class="curated-card-container">
  <div class="curated-card">
    <div class="curated-card-top-section">
      <%= image_tag(organization.photo_url) %>
      <div class="curated-card-info-headers">
        <h3 class="curated-card-title"><%=organization.name %></h3>
        <h4 class="curated-card-match text-dark">#<%= organization.category.name %></h4>
      </div>
    </div>
    <hr class="curated-card-info-divider">
    <div class="curated-card-info-details">

      <p class="curated-card-address"><%= organization.address %></p>
      <div class="text-right">
        <%= link_to "View Details", organization_path(organization) %>
      </div>
    </div>
  </div>
</div>
