<%=render "components/hero"%>

<div class="explore-page justify-content-start display-flex container align-items-center">
  <i class="fas fa-search-location"></i>
  <h3>Montreal, QC</h3>
</div>

<%= render "components/explore-card"%>
<%= render "components/explore-card"%>
<%= render "components/explore-card"%>
<%= render "components/explore-card"%>
<%= render "components/explore-card"%>
