<<<<<<< HEAD
<div class= "wrapper">
  <%=render "components/navbar"%>
</div>

<div id="hero">
  <div class="wrapper">
    <h1><strong>altrooist</strong></h1>
    <h2>100+ volunteer opportunities<br/>
        across Quebec.<br/>
        curated search results<br/>
        just for you</h2>
      <%= link_to "personalize your search", curated_path, class: "button" %>
  </div>
</div>



<%# <div class="wrapper">
  <%=render "components/card_org"%>
<%# </div> %>
=======
<div>
  <%= image_tag "http://placehold.it/640x320", class: "img-fluid" %>
</div>
<div class="text-center">
  <%= link_to "Explore!", curated_path, class: 'btn btn-primary' %>
</div>
>>>>>>> origin/home-page-journey
