<div class="column">
  <%=render "components/hero"%>
</div>

<div class="text-left">
  <h3>Explore Montreal</h3>
</div>

<div class="column">
  <%= render "components/explore-card"%>
  <%= render "components/explore-card"%>
  <%= render "components/explore-card"%>
  <%= render "components/explore-card"%>
  <%= render "components/explore-card"%>
</div>
