
<div class= "wrapper">
  <%=render "components/navbar"%>
</div>

<div class="wrapper">
  <%=render "components/hero"%>
</div>

<div class="text-left">
  <h3>Explore Montreal</h3>
</div>

<div class="column">
  <%= render "components/card"%>
</div>

<div class="column">
  <%= render "components/card"%>
</div>

<div class="column">
  <%= render "components/card"%>
</div>

<div class="column">
  <%= render "components/card"%>
</div>
