<div>
  <h1>Selected for You</h1>
  <% @curated_organizations.each do |co| %>
    <p>
      <%= co.organization.name %><br>
      <%= co.organization.address %><br>
      <%= co.humanize_distance %><br>
      Matched Profile Category: "<%= co.organization.category.name %>"<br>
      <%= link_to "View Details", organization_path(co.organization)%>
    </p>
  <% end %>
</div>
