<div>
  <h1><%= @org.name %></h1>
  <p><%= image_tag(@org.photo_url)%></p>
  <p><%= @org.email %></p>
  <p><%= @org.phone %></p>
  <p><%= @org.address %></p>
  <p><%= @org.description %></p>
  <%= simple_form_for([@org, JournalEntry.new]) do |f| %>
    <%= f.input :content, placeholder: "Contact us" %>
    <%= f.submit "Send" %>
  <% end %>
</div>
