<div>
  <h1><%= @org.name %></h1>
  <p><%= image_tag(@org.photo_url)%></p>
  <p><%= @org.email %></p>
  <p><%= @org.phone %></p>
  <p><%= @org.address %></p>
  <p><%= @org.description %></p>
  <p id="emailLink">
    <%= mail_to(@org.email, @org.name, subject: 'Interest in Volunteering', body: 'Hi, I would love to volunteer for your organization! -Andrea') %>
  </p>
  <%# <p><%= link_to "Contact", organization_contact_path %>
  <%# <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div> %>
</div>
