<div class="container">
  <div class="organization-profile">
    <h1><%= @org.name %></h1>
    <p><%= image_tag(@org.photo_url)%></p>
    <p><%= @org.email %></p>
    <p><%= @org.phone %></p>
    <p><%= @org.address %></p>
    <p><%= @org.description %></p>

    <% if @first_entry %>
      <form class="organization-contact-form" action="<%= new_organization_journal_entry_path(@org) %>">
        <textarea placeholder="Contact <%= @org.name %>"></textarea>
        <input type="submit" value="Send" class="btn btn-info" id="contactOrgButton">
      </form>
    <% end %>
  </div>
  <%= link_to "", new_organization_journal_entry_path(@org), id: "hiddenLink", class: "hidden" %>
</div>
