<div>
  <h1><%= @org.name %></h1>
  <p><%= image_tag(@org.photo_url)%></p>
  <p><%= @org.email %></p>
  <p><%= @org.phone %></p>
  <p><%= @org.address %></p>
  <p><%= @org.description %></p>
  <p><%= link_to "Contact", "" %>
  <!--<p><%= link_to "Contact", organization_contact_path %>-->
</div>
